html, body {
  height: 100%;
  margin: 0;
}

.hero-section {
  background: url('img/lbg.png') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content, .hero-animation-img {
  position: relative;
  z-index: 1; /* Ensure content is above the background image */
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Optional: Add overlay to darken the background image */
  z-index: -1; /* Ensure the image stays behind the content */
}

.hero-content h1, .hero-content h2, .hero-content p {
  color: white;
}

.hero-animation-img h1, .hero-animation-img h2, .hero-animation-img p {
  color: white;
}

.hero-animation-img img {
  max-width: 100%;
  height: auto;
}

.stylish-font {
  font-family: 'Lobster', cursive;
}

.download-button-container {
   position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.download-button-container.downloading .download-button {
  width: 70px;
}
.download-button-container.downloading .button-text-download {
  top: 80%;
  transform: translateY(-50%) scale(1);
  opacity: 0;
}
.download-button-container.downloading .button-wave {
  left: -10px;
}
.download-button-container.downloading .button-wave:before {
  background-color: transparent;
  transform: scale(1.6);
}
.download-button-container.downloading .button-icon-svg {
  transform: rotate(0deg);
}
.download-button-container.downloading .button-icon-path-square {
  fill: white;
}
.download-button-container.progressing .button-icon {
  left: 50%;
  transform: translate(-50%, -50%);
}
.download-button-container.progressing .button-ball {
  left: 43px;
  top: 8px;
  width: 18px;
  height: 18px;
}
.download-button-container.completed .download-button {
  width: 230px;
}
.download-button-container.completed .button-icon {
  left: 50%;
  transform: translate(-50%, -50%);
}
.download-button-container.completed .button-icon, .download-button-container.completed .button-svg {
  opacity: 0;
  transition: 0.3s;
}
.download-button-container.completed .button-text-done {
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 0.8s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
}
.download-button-container.completed .border-path {
  stroke: #00FF8D;
}
.download-button-container.completed .button-ball {
  left: 50%;
  transition: none;
  animation: ball-throw-up 0.5s ease-out forwards, ball-throw-down 0.5s 0.5s ease-in forwards, ball-rubber 1s forwards;
}

@keyframes ball-throw-up {
  from {
    transform: translate(-50%, 17.5px);
  }
  to {
    transform: translate(-50%, -60px);
    background-color: #00FF8D;
  }
}
@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulsate {
    animation: pulsate 1s infinite;
}

@keyframes pulsateOff {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulsate-off {
    animation: pulsateOff 1s forwards;
}

@keyframes ball-throw-down {
  from {
    transform: translate(-50%, -60px);
  }
  to {
    transform: translate(-50%, 80px);
  }
}
@keyframes ball-rubber {
  from {
    width: 18px;
  }
  25% {
    width: 13.5px;
  }
  50% {
    width: 18px;
  }
  to {
    width: 9px;
  }
}

.adzone {
    align-items: center; /* Vertically center */
    justify-content: center;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.download-button {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 70px;
  background-color: #2C2E2F;
  border: none;
  box-shadow: 0 0 0 3px #02D1FF;
  border-radius: 100px;
  cursor: pointer;
  transition: 1s width, 0.3s box-shadow;
}
.download-button, .download-button:focus {
  padding: 0;
  outline: none;
}
.download-button::-moz-focus-inner {
  border: 0;
}
.download-button:hover, .download-button:active, .download-button:focus {
  box-shadow: 0 0 0 3px #02D1FF, 0 0 20px 3px #007f9b;
}
.download-button.button-hidden {
  box-shadow: 0 0 0 3px transparent;
}
.download-button.button-hidden:hover, .download-button.button-hidden:active, .download-button.button-hidden:focus {
  box-shadow: 0 0 0 3px transparent, 0 0 20px 3px #007f9b;
}

.button-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background-color: #02D1FF;
  border-radius: 100%;
}

.button-icon-svg {
  width: 100%;
  height: 100%;
  transform: rotate(-225deg);
  transition: 1s transform;
}

.button-icon-path {
  fill: transparent;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
  stroke: white;
}

.button-icon-path-square {
  transition: 0.8s 0.2s fill;
}

.button-text {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 1.3em;
  pointer-events: none;
}

.button-text-download {
  left: 120px;
  transform: translateY(-50%);
  transition: transform 1s, top 0.3s 0.2s, opacity 0.3s 0.2s;
}

.button-text-done {
  left: 50%;
  transform: translate(-50%, 35px);
  opacity: 0;
  transition: 0.5s opacity, 1s transform;
}

.button-wave {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -9999em;
  top: 50%;
  transform: translateY(-50%);
  width: 90px;
  height: 90px;
  border-radius: 100%;
  overflow: hidden;
  pointer-events: none;
}
.button-wave:before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #00faff;
  border: 5px solid #00faff;
  border-radius: 100%;
  transition: 0.5s background, 1s transform;
  transition-timing-function: ease-out;
}

.button-progress-container {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.button-svg {
  width: 100%;
  height: 100%;
}
.button-svg .button-circular-progress {
  fill: none;
  stroke-width: 5px;
  stroke: white;
}

.button-ball {
  position: absolute;
  left: 0px;
  top: 0;
  width: 0;
  height: 0;
  background-color: #8c0c1b;
  border-radius: 100%;
  pointer-events: none;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.875);
  /* easeOutBackModified */
  transition-property: left, top, width, height;
}

.button-linear-progress {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #00AFD7;
  border-radius: 100%;
  overflow: hidden;
}

.button-linear-progress-bar {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #02D1FF;
}

.border-svg {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.border-path {
  fill: #2C2E2F;
  stroke-width: 3px;
  stroke: #02D1FF;
  transition: 0.3s 1s stroke;
}

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
}

html {
  background: white !important;
}

.ptb-100{
    padding: 100px 0;
}
.pt-100{
    padding-top: 100px;
}
.pt-150{
    padding-top: 150px;
}
.pb-100{
    padding-bottom: 100px;
}
.mt--120{
    margin-top: -120px;
}
.gray-light-bg{
    background: #f4f7fa;
}
.primary-bg{
    background: #6730e3;
}
.secondary-bg{
    background: #9629e6;
}
.color-primary{
    color: #6730e3;
}
.color-secondary{
    color: #9629e6
}
.white-bg{
    background: #ffffff;
}

.bg-color-1{
    background: #399fb6;
}
.bg-color-2{
    background: #0ba077;
}
.bg-color-3{
    background: #6582ed;
}
.bg-color-4{
    background: #399fb6;
}

.icon-color-1{
    background: #efdff7;
    color: #b17cc6;
}
.icon-color-2{
    background-color: #c6e6fd;
    color: #63b0e3;
}
.icon-color-3{
    background-color: #efe3e3;
    color: #ed7265;
}
.icon-color-4{
    background-color: #ddedea;
    color: #45d7ba;
}
.icon-color-5{
    background-color: #ffe0e3;
    color: #bd2130;
}
.icon-color-6{
    background-color: #e2e8ff;
    color: #6582ed;
}

.outline-btn, .solid-btn, .primary-solid-btn{
    padding: 10px 25px;
    font-family: 'Open Sans', sans-serif
}

.primary-solid-btn{
    border-color: #202877;
    background: #202877;
    color: #ffffff;
}
.primary-solid-btn:hover{
    background: transparent;
    color: #081d43;
    border-color: #081d43;
}
.solid-btn{
    color: #fff;
    -webkit-box-shadow: 0 20px 30px 0 rgba(67,37,204,.2);
    box-shadow: 0 20px 30px 0 rgba(67,37,204,.2);
    background: #6730e3;
    border: 2px solid #6730e3;
    border-radius: 30px;
}

.solid-btn:hover{
    background: transparent;
    color: #202877;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.outline-btn{
    border-radius: 30px;
    color: #6730e3;
    display: inline-block;
    border: 2px solid #6730e3;
}
.outline-btn:hover{
    color: #fff;
    background: #6730e3;
    -webkit-box-shadow: 0 20px 30px 0 rgba(67,37,204,.2);
    box-shadow: 0 20px 30px 0 rgba(67,37,204,.2);
}

.primary-bg h1, .primary-bg p{
    color: #fff;
}
.white-bg h1, .white-bg p{
    color: inherit;
}
.google-play-btn, .app-store-btn{
    padding: 12px 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.google-play-btn{
    background: #ffffff;
    border-color: #ffffff;
    color: #6730e3;
    border-radius: 30px;
}
.google-play-btn:hover{
    background: transparent;
    color: #ffffff;
}
.app-store-btn{
    border-radius: 30px;
    color: #ffffff;
    border-color: #ffffff;
}
.app-store-btn:hover{
    background: #ffffff;
    color: #6730e3;
}

/*form field css*/
.form-control{
    border-color: #ebebeb;
    padding: .975rem 0.85rem;
    height: calc(2.98em + .75rem + 2px);
}
.form-control:focus{
    outline: none;
    box-shadow: none;
}

input[type]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder,
select.form-control.has-value{
    color: #b1b1b1 !important;
    font-size: 13px;
}

input[type]:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder,
select.form-control.has-value{
    /* Firefox 18- */
    color: #b1b1b1;
    font-size: 13px;
}

input[type]::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder,
select.form-control.has-value{
    /* Firefox 19+ */
    color: #b1b1b1;
    font-size: 13px;
}

input[type]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder,
select.form-control.has-value{
    color: #b1b1b1;
    font-size: 13px;
}

.section-heading h2 span{
    font-weight: 400;
    font-size: 2rem;
}
.error-message-box {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 10px;
  margin-top: 10px;
  color: white;
}
.error-message-box video {
max-width: 100%;
  height: auto;
}

